<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test todo</title>
</head>

<body>
    <!-- application body -->
    <!-- Templates -->
    <script type="text/template" id="itemTemplate">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label class="editLabel">
                <%=title%>
            </label>
            <input class="edit" type="text" value="<%- title %>" hidden/>
            <button class="destroy">X</button>
        </div>
    </script>
    <!-- Templates ends here -->
    <div id="todoapp">
        <header>
            <h1>Todos</h1>
            <input id="new-todo" type="text" placeholder="What needs to be done?">
        </header>
        <section id="main">
            <input id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"></ul>
        </section>
        <footer>
            <a id="clear-completed">Clear completed</a>
            <div id="todo-count"></div>
        </footer>
    </div>
    <!-- loading scripts -->
    <script src=""></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage.js"></script>
    <script src="test_todo.js"></script>
</body>

</html>